/* General Navbar Styles */
#main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

/* Logo Styles */
.logo {
  display: inline-block;
}

.logo-image {
  width: 100px; /* Adjust as necessary */
  height: auto;
}

/* Navigation Link Styles */
.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
}

.nav-link:hover {
  background-color: #555;
}

/* Search Bar Styling */
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  width: 200px;
}

.search-bar input:focus {
  outline: none;
  border-color: #4CAF50;
}
